name: Continuous Integration

on: [ push ]

env:
  DOCKER_USERNAME: "${{ github.actor }}"
  DOCKER_PASSWORD: "${{ secrets.GITHUB_TOKEN }}"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Java JDK
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: 25
          cache: "gradle"

      # Because waiting for the Docker image to be built is kinda boring not gonna lie
      - name: Cache Docker image
        id: cache-docker-image
        uses: actions/cache@v4
        with:
          path: docker
          key: docker-image-${{ runner.os }}-${{ hashFiles('docker/Dockerfile') }}

      - name: Build base Docker image
        if: steps.cache-docker-image.outputs.cache-hit != 'true'
        run: |
          cd docker
          bash build.sh

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build and Publish with Gradle
        if: github.ref == 'refs/heads/master'
        env:
          ORG_GRADLE_PROJECT_PerfectDreamsUsername: ${{ secrets.PERFECTDREAMS_REPO_USERNAME }}
          ORG_GRADLE_PROJECT_PerfectDreamsPassword: ${{ secrets.PERFECTDREAMS_REPO_PASSWORD }}
        run: ./gradlew build :common:publish :client:publish :image-generation-server:jibDockerBuild --no-daemon

      - name: Build with Gradle
        if: github.ref != 'refs/heads/master'
        run: ./gradlew build --no-daemon

      - name: Login and publish Docker images
        if: github.ref == 'refs/heads/master'
        run: |
          docker login --username $DOCKER_USERNAME --password $DOCKER_PASSWORD ghcr.io
          docker push ghcr.io/lorittabot/gabriela-image-server:latest
